<div class="search-page form123">
    <div>
        <h3>Search by Hobbies/Interests</h3>
        <hr/>

        <form ng-submit="searchByTags()">
            <tags-input ng-model="tagsToSearch"
                        key-property="_id"
                        display-property="name"
                        add-from-autocomplete-only="true"
                        class="col-sm-10 tags-autocomplete">
                <auto-complete source="getTags($query)"
                               display-property="name"
                               min-length="1"
                               max-results-to-show="100"
                               select-first-match="false">
                </auto-complete>
            </tags-input>

            <button type="submit" ng-disabled="!tagsToSearch.length" class="btn btn-success col-sm-2 search-button">
                Search
            </button>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Skype</th>
                <th>Room</th>
            </tr>
            <tr ng-repeat="user in usersByTags">
                <td><a href="/#/user/profile/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.skype}}</td>
                <td>{{user.room}}</td>
            </tr>
        </table>
    </div>

    <div>
        <h3>Search by Skills</h3>
        <hr/>

        <form ng-submit="searchBySkills()">
            <div class="col-sm-10 skills-search">
                <input type="text" class="form-control" placeholder="Search" ng-model="skillsToSearch">
            </div>

            <button type="submit" ng-disabled="!skillsToSearch.length" class="btn btn-success col-sm-2">
                Search
            </button>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Skills</th>
                <th>Email</th>
                <th>Skype</th>
            </tr>
            <tr ng-repeat="user in usersBySkills">
                <td><a href="/#/user/profile/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></td>
                <td>{{user.expPosition}}</td>
                <td>
                    <div ng-repeat="skill in user.skills">
                        <span>{{skill.title}}</span>
                        <span style="font-weight: bold">{{skill.level}}</span>
                    </div>
                </td>
                <td>{{user.email}}</td>
                <td>{{user.skype}}</td>
            </tr>
        </table>
    </div>
</div>