<div class="profile-page form123">
    <div class="row">
        <div class="col-sm-3">
            <img alt="" src="/images/anonymous.jpg">
        </div>
        <div class="col-sm-9">
            <div class="row">
                <h3>General Info</h3>
                <hr/>
                <div class="col-md-6 sd12">
                    <div>
                        <span>First Name:</span>
                        <span>{{user.firstName}}</span>
                    </div>
                    <div>
                        <span>Last Name:</span>
                        <span>{{user.lastName}}</span>
                    </div>

                    <div>
                        <span>Date of Birth:</span>
                        <span>{{user.birthday | date: "yyyy-MM-dd"}}</span>
                    </div>

                    <div>
                        <span>Department:</span>
                        <span>{{user.department}}</span>
                    </div>

                    <div>
                        <span>Title:</span>
                        <span>{{user.currentPosition}}</span>
                    </div>

                    <div>
                        <span>Corporate Email:</span>
                        <span>{{user.email}}</span>
                    </div>

                </div>
                <div class="col-md-6 sd12">
                    <div>
                        <span>Skype:</span>
                        <span>{{user.skype}}</span>
                    </div>

                    <div>
                        <span>Mobile:</span>
                        <span>{{user.mobile}}</span>
                    </div>

                    <div>
                        <span>Profile in Facebook:</span>
                        <span>{{user.facebook}}</span>
                    </div>

                    <div>
                        <span>Profile in LinkedIn:</span>
                        <span>{{user.linkedin}}</span>
                    </div>

                    <div>
                        <span>Date of Employment:</span>
                        <span>{{user.dateOfEmployment | date: "yyyy-MM-dd"}}</span>
                    </div>

                    <div>
                        <span>Room:</span>
                        <span>{{user.room}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 sd12">
            <h3>Education</h3>
            <hr/>

            <div>
                <span>Name of Institution:</span>
                <span>{{user.university}}</span>
            </div>

            <div>
                <span>Faculty:</span>
                <span>{{user.faculty}}</span>
            </div>

            <div>
                <span>Major:</span>
                <span>{{user.major}}</span>
            </div>

            <div>
                <span>Graduation Year:</span>
                <span>{{user.graduationYear}}</span>
            </div>

            <div>
                <span>Additional Courses:</span>
                <span>{{user.additionalCourses}}</span>
            </div>
        </div>
        <div class="col-md-4 sd12">
            <h3>Experience</h3>
            <hr/>

            <div>
                <span>Title:</span>
                <span>{{user.expPosition}}</span>
            </div>

            <div>
                <span>Years:</span>
                <span>{{user.expYears}}</span>
            </div>

            <div>
                <span>Summary:</span>
                <span>{{user.summary}}</span>
            </div>
        </div>

        <div class="col-md-4 sd12">
            <h3>Hobbies & Interests</h3>
            <hr/>

            <div ng-repeat="response in responses">
                <span>{{response.questionName}}:</span>
                <div>
                    <ul>
                        <li ng-repeat="tag in response.tags">{{tag.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-success" ng-click="edit()">Edit</button>
    </div>
</div>