<form name="questionnaireForm" class="form-horizontal questionnaire-form form123 " novalidate ng-submit="save()">
    <h3>Hobbies & Interests</h3>
    <hr/>

    <div class="form-group" ng-repeat="response in responses">
        <label class="col-sm-3 control-label">{{response.questionName}}</label>
        <div class="col-sm-9">
            <tags-input ng-model="response.tags"
                        key-property="_id"
                        display-property="name"
                        add-from-autocomplete-only="true"
                        placeholder="{{response.questionName}}">
                <auto-complete source="getTags($query, response.questionId)"
                               display-property="name"
                               min-length="1"
                               max-results-to-show="100"
                               select-first-match="false">
                </auto-complete>
            </tags-input>

            <p>
                Start typing and select from suggestions.
            </p>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-success">Save & Complete</button>
    </div>

</form>